<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hant</string>
	<key>CFBundleDisplayName</key>
	<string>久空輸入法</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>JiukongZhuyin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jiukong Zhuyin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>JKZY</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>tw.idv.jiukong.inputmethod.zhuyin.Chinese</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>中</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>tw.idv.jiukong.inputmethod.zhuyin.Chinese</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>JiukongChinese.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>JiukongChinese.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
			<key>tw.idv.jiukong.inputmethod.zhuyin.English</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>英</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>tw.idv.jiukong.inputmethod.zhuyin.English</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>JiukongEnglish.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>JiukongEnglish.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>tw.idv.jiukong.inputmethod.zhuyin.Chinese</string>
			<string>tw.idv.jiukong.inputmethod.zhuyin.English</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>tw_idv_jiukong_inputmethod_zhuyin_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>JiukongInputController</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 oldming101.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>tw.idv.jiukong.inputmethod.zhuyin</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>JiukongZhuyin.tiff</string>
</dict>
</plist>
